<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.username">postgres</property>
        <property name="connection.password">pMJik</property>
        <property name="connection.url">jdbc:postgresql://localhost:5557/ufonetwork</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <!-- DB schema will be updated if needed -->
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>


        <mapping class="DAO.CategoryEntity"/>
        <mapping class="DAO.GroupEntity"/>
        <mapping class="DAO.MessageEntity"/>
        <mapping class="DAO.PersonEntity"/>
        <mapping class="DAO.PlanetEntity"/>
        <mapping class="DAO.RaceEntity"/>

    </session-factory>
</hibernate-configuration>