<?xml version='1.0' encoding='utf-8'?>
<Context>
    <Resource name="jdbc/ufonetwork"
              auth="Container"
              type="javax.sql.DataSource"
              factory="org.apache.commons.dbcp.BasicDataSourceFactory"
              url="jdbc:postgresql://www.gordeev.site:5557/ufonetwork"
              driverClassName="org.postgresql.Driver"
              username="nina"
              password="nina1234"
              maxWait="3000"
              maxIdle="100"
              maxActive="10"/>
</Context>